## Deliverable 2. Create a Customer Travel Destinations Map.

In [38]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Sechura,PE,-5.5569,-80.8222,71.55,69,71,17.81,broken clouds
1,1,Oriximina,BR,-1.7656,-55.8661,74.53,96,97,1.59,moderate rain
2,2,Lodja,CD,-3.4833,23.4333,66.36,100,96,1.23,overcast clouds
3,3,Olkusz,PL,50.2813,19.5650,46.06,71,16,3.89,few clouds
4,4,Lebu,CL,-37.6167,-73.6500,50.02,72,60,17.18,broken clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Sechura,PE,-5.5569,-80.8222,71.55,69,71,17.81,broken clouds
1,1,Oriximina,BR,-1.7656,-55.8661,74.53,96,97,1.59,moderate rain
9,9,Piacabucu,BR,-10.4056,-36.4344,76.30,74,94,5.39,overcast clouds
10,10,Quatre Cocos,MU,-20.2078,57.7625,73.09,73,8,9.66,clear sky
11,11,Bhawanipatna,IN,19.9000,83.1667,82.09,41,35,5.19,scattered clouds
12,12,Garissa,KE,-0.4536,39.6401,78.04,78,98,12.80,overcast clouds
15,15,Georgetown,MY,5.4112,100.3354,80.53,89,20,0.00,few clouds
18,18,Loandjili,CG,-4.7561,11.8578,73.96,97,100,2.17,heavy intensity rain
21,21,Bol,TD,13.4586,14.7147,84.36,55,73,3.53,broken clouds
25,25,Shush,IR,32.1942,48.2436,74.05,54,45,5.01,scattered clouds

In [24]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        247
City           247
Country        244
Lat            247
Lng            247
Max Temp       247
Humidity       247
Cloudiness     247
Wind Speed     247
Description    247
dtype: int64

In [25]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [26]:
clean_df.count()

City_ID        244
City           244
Country        244
Lat            244
Lng            244
Max Temp       244
Humidity       244
Cloudiness     244
Wind Speed     244
Description    244
dtype: int64

In [60]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Sechura,PE,71.55,broken clouds,-5.5569,-80.8222,
1,Oriximina,BR,74.53,moderate rain,-1.7656,-55.8661,
9,Piacabucu,BR,76.30,overcast clouds,-10.4056,-36.4344,
10,Quatre Cocos,MU,73.09,clear sky,-20.2078,57.7625,
11,Bhawanipatna,IN,82.09,scattered clouds,19.9000,83.1667,
12,Garissa,KE,78.04,overcast clouds,-0.4536,39.6401,
15,Georgetown,MY,80.53,few clouds,5.4112,100.3354,
18,Loandjili,CG,73.96,heavy intensity rain,-4.7561,11.8578,
21,Bol,TD,84.36,broken clouds,13.4586,14.7147,
25,Shush,IR,74.05,scattered clouds,32.1942,48.2436,

In [61]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [62]:
# Replace empty rows in "Hotel Name" column with NaN
hotel_df["Hotel Name"].replace("", np.nan, inplace= True)

In [63]:
# Check for converted null values in "Hotel Name" column
hotel_df.isnull().sum()

City            0
Country         0
Max Temp        0
Description     0
Lat             0
Lng             0
Hotel Name     20
dtype: int64

In [64]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset= ["Hotel Name"])

In [65]:
clean_hotel_df.isnull().sum()

City           0
Country        0
Max Temp       0
Description    0
Lat            0
Lng            0
Hotel Name     0
dtype: int64

In [66]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [69]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [70]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))